.container-fluid{
    background: #e9e9e9;
}
.job-item {
    display: inline-flex;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: -2px;
    width: 100%;
    padding: 15px 0;
    background-color: #f2eeeb;
}
.content{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: inherit;
    border: 1px solid #d8d8d8;
}
.content-vew{
    margin: 0 15px 0 15px;
}

.distance-time{
    font-size: 13px;
}
.title{
    font-size: 22px;
    width: 80%;
    display: inline-flex;
}
.distance-time{

}
.job-detail{
    color: black;
}
.pagination-nav > nav > .pagination > li > a.page-link {
    background-color: #fdfffa !important;
}
.pagination-nav{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.pagina-current-page{
    display: none;
}
.next_dot{
    display: none;
}
.pagina-page-next{
    display: none;
}
.tag{
    background: #e0a800;
    text-align: center;
    color: white;
    font-weight: 500;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 2em;
    padding: 1px 7px 1px 7px;;
    display: table-cell;
}
hr{
    background-color: #e0a800;
}